html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

main {
    display: block;
}

ol,
ul {
    list-style: none;
}

b,
strong {
    font-weight: bold;
}

*,
:after,
:before {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    border-style: none;
}

img[width="0"][height="0"] {
    display: none;
}

a {
    color: inherit;
    cursor: pointer;
    background-color: transparent;
    text-decoration: none;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}

a:hover,
a:focus {
    text-decoration: none;
}

input,
select,
textarea,
button {
    border: none;
    outline: none;
    border-radius: 0;
    -webkit-appearance: none;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

textarea {
    overflow: auto;
}

textarea::-webkit-scrollbar {
    width: 0;
}

::-ms-clear {
    display: none;
}

input {
    overflow: visible;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

select::-ms-expand {
    display: none;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: none;
}

textarea {
    width: 100%;
    resize: none;
    border: none;
    outline: none;
    border-radius: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

label {
    margin: 0;
}

input,
button,
select {
    border: none;
    outline: none;
}

input {
    border-radius: 0;
}

.mobile-visible {
    display: none;
}

@media (max-width: 1000px) {
    .mobile-visible {
        display: block;
    }

    .desktop-visible {
        display: none;
    }
}

.no-scrolling {
	overflow: hidden;
}

.link {
	text-decoration: underline;
}

.link:hover {
	text-decoration: none;
}

.invert-link {
	text-decoration: none;
}

.invert-link:hover {
	text-decoration: underline;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    color: #fff;
    font: normal 16px/19px 'Futura PT', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background: url(../img/bg_img-min.png) center 700px no-repeat, linear-gradient(180deg, #7D68AB 0%, #7D68AB 100%);
    background-size: cover;
}

.content {
    flex: 1 0 auto;
    overflow: hidden;
}

.container {
    max-width: 1260px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    position: absolute;
    width: 100%;
    height: 105px;
    background: url(../img/tent.png) center repeat no-repeat;
    background-size: contain;
    z-index: 1;
}

footer {
    flex: 0 0 auto;
    min-height: 210px;
    background: #4F378D;
    text-align: center;
    padding: 30px 0;
}

.footer-links {
    max-width: 900px;
    width: 100%;
    margin: 0 auto 35px;
    text-align: center;
}

.footer-links a {
    font-size: 16px;
    line-height: 21px;
    color: #fff;
    margin: 0 10px;
}

.footer-wrapper {
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
}

.footer-contacts a {
    display: block;
    text-align: left;
}

.footer-phone {
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #fff;
}

.footer-mail {
    font-size: 18px;
    line-height: 23px;
    color: #fff;
}

.copyright {
    font-size: 12px;
    line-height: 15px;
    text-align: center;
}

.mndlz {
    margin-bottom: 15px;
}

.footer-socials a {
    margin: 0 8px;
}

.logo {
    max-width: 246px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.menu {
    max-width: 888px;
    width: 100%;
    margin: auto;
}

.menu-links {
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
}

.menu-links a {
    position: relative;
    font-size: 21px;
    line-height: 27px;
    color: #fff;
}

.menu-links a::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background: #fff;
  transition: .2s linear;
}

.menu-links a:hover::before {
    width: 100%;
}

.menu-links a:nth-child(2) {
    margin-right: 150px;
}

.menu-links a:nth-child(3) {
    margin-left: 150px;
}

.main-block {
    position: relative;
    min-height: 690px;
    padding-top: 105px;
    margin-bottom: 185px;
    background: url(../img/bg-main.png) center no-repeat;
    background-size: cover;
}

.left-wood {
    position: absolute;
    top: 0;
    left: 0;
    width: 160px;
    height: 700px;
    background: url(../img/left.png) center no-repeat;
    background-size: cover;
    z-index: 0;
}

.right-wood {
    position: absolute;
    top: 0;
    right: 0;
    width: 160px;
    height: 700px;
    background: url(../img/right.png) center no-repeat;
    background-size: cover;
    z-index: 0;
}

.main-block::before {
    content: '';
    position: absolute;
    bottom: -70px;
    left: 0;
    right: 0;
    width: 100%;
    height: 83px;
    margin: auto;
    background: url(../img/down1.png) center repeat;
    background-size: contain;
    z-index: 0;
}

.main-block::after {
    content: '';
    position: absolute;
    bottom: -166px;
    left: 0;
    right: 0;
    width: 100%;
    height: 166px;
    margin: auto;
    background: url(../img/down2.png) center repeat;
    background-size: contain;
    z-index: 0;
}

.main-block .container {
    max-width: 1080px;
}

.slogan {
    max-width: 399px;
    width: 100%;
    margin: auto;
    padding-top: 90px;
}

.products {
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
}

.product {
    margin: 0 25px;
}

.product:nth-child(2) {
    margin: 0 25px 0 40px;
}

.product-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 243px;
    margin: auto;
}

.product1-img {
    max-width: 247px;
}

.product2-img {
    max-width: 323px;
}

.product3-img {
    max-width: 266px;
}

.product-info {
    position: relative;
    height: 67px;
    width: 150px;
    margin: 0 auto 12px;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    line-height: 18px;
    text-align: center;
}

.product-info::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 17px;
    height: 67px;
    margin: auto;
    background: url(../img/skb-left.svg) center no-repeat;
    background-size: contain;
}

.product-info::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 17px;
    height: 67px;
    margin: auto;
    background: url(../img/skb-right.svg) center no-repeat;
    background-size: contain;
}

.mini-btn {
    display: block;
    width: 95px;
    height: 27px;
    margin: auto;
    background: url(../img/mini-button.png) center no-repeat;
    background-size: contain;
    font-weight: 450;
    font-size: 12px;
    line-height: 27px;
    text-align: center;
    color: rgba(79, 55, 141, .6);
}

.main-coupon {
    position: fixed;
    bottom: 3%;
    right: 3%;
    width: 256px;
    height: 142px;
    background: url(../img/coupon-main.png) center no-repeat;
    background-size: contain;
    z-index: 3;
}

.where-block {
    margin-bottom: 60px;
}

.title-wrapper {
    text-align: center;
}

.title {
    position: relative;
    display: inline-block;
    font-weight: bold;
    font-size: 40px;
    line-height: 51px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.title::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -30px;
    width: 26px;
    height: 27px;
    margin: auto;
    background: url(../img/tt-ax-left.svg) center no-repeat;
    background-size: contain;
}

.title::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: -30px;
    width: 26px;
    height: 27px;
    margin: auto;
    background: url(../img/tt-ax-right.svg) center no-repeat;
    background-size: contain;
}

.title.purple {
    color: #7D68AB;
}

.title.purple::before {
    background: url(../img/tt-ax-left-purple.svg) center no-repeat;
    background-size: contain;
}

.title.purple::after {
    background: url(../img/tt-ax-right-purple.svg) center no-repeat;
    background-size: contain;
}

.shops {
    max-width: 1000px;
    width: 100%;
    margin: auto;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
}

.shop {
    max-width: 220px;
    width: 100%;
}

.shop:nth-child(2n) {
    margin-top: 20px;
}

.edadil-block {
    position: relative;
    min-height: 700px;
    padding: 80px 0 90px;
    background: url(../img/bg-edadil.png) center no-repeat;
    background-size: 100% 700px;
    color: #7D68AB;
    z-index: 1;
}

.steps {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.step-img {
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 194px;
    margin: 0 auto 20px;
}

.step-img1 {
    max-width: 256px;
}

.step-img2 {
    max-width: 168px;
}

.step-img3 {
    max-width: 163px;
}

.step-info {
    position: relative;
    padding-left: 145px;
}

.step-info::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    width: 120px;
    height: 120px;
}

.step-info1::before {
    background: url(../img/1.png) center no-repeat;
    background-size: contain;
}

.step-info2::before {
    background: url(../img/2.png) center no-repeat;
    background-size: contain;
}

.step-info3::before {
    background: url(../img/3.png) center no-repeat;
    background-size: contain;
}

.step-info-title {
    font-weight: bold;
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 10px;
}

.step-info-desc {
    font-size: 21px;
    line-height: 24px;
}

.btn-wrapper {
    text-align: center;
}

.edadil-btn {
    display: block;
    max-width: 235px;
    width: 100%;
    margin: auto;
}

.edadil-remark {
    display: block;
    font-size: 21px;
    margin-top: 10px;
}

.coupon-block {
    position: relative;
    margin: 70px 0 60px;
}

.coupon-block .container {
    max-width: 960px;
}

.coupon-info {
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.coupon-img {
    max-width: 405px;
    width: 100%;
}

.coupon-slogan {
    max-width: 471px;
    width: 100%;
}

.coupon-count-block {
    display: flex; 
    justify-content: space-between;
}

.coupon-count-wrapper {
    margin: auto;
}

.coupon-count-wrapper.disabled {
    pointer-events: none;
}

.coupon-count-wrapper.disabled .coupon-count-text,
.coupon-count-wrapper.disabled .coupon-count {
    filter: brightness(0.7);
}

.coupon-count-wrapper.disabled .btn-wrapper {
    filter: grayscale(1) brightness(0.9);
}

.coupon-count-text {
    font-size: 21px;
    line-height: 1;
    text-align: center;
    margin-bottom: 20px;
}

.coupon-count {
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.number {
    width: 66px;
    height: 85px;
    background: url(../img/number-bg.svg) center no-repeat;
    background-size: contain;
    font-weight: bold;
    font-size: 60px;
    line-height: 85px;
    text-align: center;
    color: #FBFBFD;
    margin: 0 4px;
}

.coupon-btn {
    display: block;
    max-width: 340px;
    width: 100%;
    margin: auto;
}

.faq-block {
    position: relative;
    /*min-height: 640px;*/
    padding: 190px 0 90px;
    /*background: url(../img/bg-faq.png) center 0 no-repeat;
    background-size: 100% 640px;*/
}

/*.faq-block::after {
    content: '';
    position: absolute;
    bottom: -500px;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #6D599A;
    z-index: 0;
}*/

.decor-left {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 167px;
    height: 194px;
    background: url(../img/decor_left.png) center no-repeat;
    background-size: contain;
    z-index: 1;
}

.decor-right {
    position: absolute;
    bottom: 10%;
    right: 5%;
    width: 189px;
    height: 148px;
    background: url(../img/decor_right.png) center no-repeat;
    background-size: contain;
    z-index: 1;
}

.faq-block .container {
    position: relative;
    z-index: 1;
}

.faq-block .title {
    margin-bottom: 55px;
}

/*.faq-wrap {
    max-width: 606px;
    width: 100%;
    margin: 0 auto 40px;
}*/

.faq-coupon {
    position: relative;
    background: #6D599A;
    margin: 130px auto;
    padding-bottom: 20px;
}

.faq-coupon::before {
    content: '';
    position: absolute;
    top: -113px;
    left: 0;
    right: 0;
    width: 100%;
    height: 113px;
    margin: auto;
    background: url(../img/faq-bg-top.png) center no-repeat;
    background-size: cover;
}

.faq-coupon::after {
    content: '';
    position: absolute;
    bottom: -113px;
    left: 0;
    right: 0;
    width: 100%;
    height: 113px;
    margin: auto;
    background: url(../img/faq-bg-bottom.png) center no-repeat;
    background-size: cover;
}

.faq-block-title {
    font-weight: bold;
    font-size: 30px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.faq-block-title img {
    vertical-align: bottom;
    margin-right: 10px;
}

.faq-item {
    max-width: 1250px;
    width: 100%;
    margin: 0 auto 25px;
    padding: 0 15px;
    transition: all .2s linear;
}

.faq-title {
    position: relative;
    width: 100%;
    padding-left: 40px;
    font-weight: bold;
    font-size: 30px;
    line-height: 32px;
    color: #fff;
    cursor: pointer;
}

.faq-title::after {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    width: 30px;
    height: 28px;
    background: url(../img/plus.svg) center no-repeat;
    background-size: contain;
    transition: all .2s linear;
}

.faq-title.active::after {
    background: url(../img/minus.svg) center no-repeat;
    background-size: contain;
}

.faq-text {
    display: none;
    font-size: 24px;
    line-height: 32px;
    padding: 25px 0 0 40px;
}

.faq-text table {
    border-spacing: 0;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto 20px;
    font-size: 24px;
    text-align: center;
}

.faq-text table th:nth-child(1),
.faq-text table th:nth-child(2) {
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.faq-text table th:nth-child(3) {
    border-bottom: 1px solid #fff;
}

.faq-text table th,
.faq-text table td {
    padding: 10px;
}

.faq-text table td:nth-child(1),
.faq-text table td:nth-child(2) {
    width: 400px;
    border-right: 1px solid #fff;
}

.faq-text table td:nth-child(3) {
    width: 170px;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background: rgba(79, 55, 141, 0.85);
    z-index: -1;
    opacity: 0;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    align-items: flex-start;
    padding-top: 15%;
    pointer-events: none;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.js-popup-show {
    z-index: 999;
    opacity: 1;
    pointer-events: visible;
    backdrop-filter: blur(20px);
}

.popup__wrap {
    background: linear-gradient(90deg, #FBFBFD 0.13%, #EEEBF4 100.1%);
    max-width: 796px;
    width: 100%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.popup-auth .popup__wrap {
    max-width: 448px;
    height: 520px;
    background: url(../img/auth-popup-bg.png) center no-repeat;
    background-size: 448px 520px;
}

.popup-auth-fio .popup__wrap {
    max-width: 448px;
    height: 420px;
    background: url(../img/auth-popup-bg.png) center no-repeat;
    background-size: 448px 420px;
}

.popup-auth-success .popup__wrap {
    max-width: 448px;
    height: 300px;
    background: url(../img/auth-popup-bg.png) center no-repeat;
    background-size: contain;
}

.popup-coupon .popup__wrap {
    max-width: 358px;
    height: 370px;
    background: url(../img/coupon-popup-bg.png) center no-repeat;
    background-size: 358px 370px;
}

.popup-coupon-big {
    padding-top: 10%;
}

.popup-coupon-big .popup__wrap {
    height: 570px;
    background-size: 358px 570px;
}

.popup-product .popup__wrap {
    height: 363px;
    background: url(../img/products-popup-bg.png) center no-repeat;
    background-size: contain;
}

.popup__inner {
    max-width: 340px;
    width: 100%;
    margin: auto;
}

.popup-product .popup__inner {
    margin-right: 40px;
}

.popup__title {
    font-weight: bold;
    font-size: 32px;
    line-height: 41px;
    color: #4F378D;
}

.popup-auth .popup__title {
    text-align: center;
    margin-bottom: 6px;
}

.popup-coupon .popup__title {
    font-size: 24px;
    line-height: 1;
    text-align: center;
    margin-bottom: 30px;
}

.popup-product .popup__title {
    margin-bottom: 10px;
}

.popup__desc {
    font-size: 21px;
    line-height: 27px;
    color: #4F378D;
}

.popup-auth .popup__desc {
    text-align: center;
    margin-bottom: 20px;
}

.popup-auth-fio .popup__desc {
    text-align: center;
    margin-bottom: 30px;
}

.popup-coupon .popup__desc {
    max-width: 245px;
    width: 100%;
    margin: auto;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #272727;
}

.socials-auth {
    text-align: center;
}

.social-auth {
    margin: 0 14px;
    border: none;
    background: none;
    line-height: 1;
    padding: 0;
}

.close-popup {
    position: absolute;
    top: 20px;
    right: 40px;
}

.popup-product .close-popup {
    position: absolute;
    top: -10px;
    right: -10px;
}

.popup-product-img {
    position: absolute;
    top: 0;
    left: 40px;
    bottom: 0;
    margin: auto;
}

.popup-product1-img {
    width: 347px;
}

.popup-product2-img {
    width: 356px;
    left: 20px;
}

.popup-product3-img {
    width: 325px;
}

.popup-coupon-img {
    max-width: 100px;
    width: 100%;
    margin: 0 auto 25px;
}

.coupon-5ka {
    max-width: 220px;
}

.popup-logo {
    text-align: center;
    margin: 0 auto 25px;
}

.popup-logo.logo-5ka {
    max-width: 135px;
    width: 100%;
}

.separate {
    position: relative;
    font-size: 21px;
    height: 20px;
    text-align: center;
    color: rgba(0, 0, 0, .3);
    margin: 25px 0;
}

.separate::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, .3);
    z-index: 0;
}

.separate span {
    position: absolute;
    top: -2px;
    left: 0;
    right: 0;
    margin: auto;
    width: 55px;
    height: 20px;
    padding: 0 10px;
    background: #f4f3f8;
}

.popup-btn-wrap {
    text-align: center;
}

.popup-btn {
    display: block;
    width: 240px;
    height: 60px;
    margin: auto;
    padding: 0;
    border: 0;
    background: url(../img/popup-btn-bg.png) center no-repeat;
    background-size: contain;
    font-size: 21px;
    line-height: 60px;
    color: #fff;
}

.input-field {
    max-width: 333px;
    width: 100%;
    height: 47px;
    margin: 0 auto 15px;
}

.input-field + .popup-btn-wrap {
    margin-top: 40px;
}

.input-field input {
    max-width: 333px;
    width: 100%;
    height: 47px;
    padding: 13px 26px;
    background: url(../img/input-bg.png) center no-repeat;
    background-size: contain;
    font-family: Futura PT;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #7D69AC;
}

.input-field input::placeholder {
    color: rgba(125, 105, 172, .6);
}

.coupon-preview {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: calc(100% + 300px);
    margin: auto;
    background: rgba(79, 55, 141, 0.22);
    backdrop-filter: blur(71px);
}

.coupon-preview-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-width: 740px;
    width: 100%;
    margin: auto;
}

.coupon-preview .coupon-img {
    max-width: 276px;
    margin-bottom: 25px;
}

.coupon-preview-title {
    font-weight: bold;
    font-size: 40px;
    line-height: 51px;
    text-align: center;
    margin-bottom: 30px;
}

.coupon-preview-desc {
    max-width: 480px;
    width: 100%;
    font-size: 21px;
    line-height: 27px;
    text-align: center;
    margin: 0 auto 30px;
}

.coupon-preview .popup-form {
    max-width: 333px;
    width: 100%;
}

.coupon-preview .input-field + .popup-btn-wrap {
    margin-top: 25px;
}

.coupon-validity {
    max-width: 275px;
    width: 100%;
    margin: 18px auto 10px;
    padding: 13px 0 16px;
    border-top: 1px solid rgba(79, 55, 141, 0.1);
    border-bottom: 1px solid rgba(79, 55, 141, 0.1);
}

.coupon-validity-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #4F378D;
}

.coupon-validity-text {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #272727;
}

.coupon-remark {
    max-width: 300px;
    width: 100%;
    margin: auto;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #575757;
}

.coupon-remark a {
    color: #366AB8;
}

.checkbox-wrapper {
    margin-top: 30px;
}

.checkbox-field {
    position: relative;
    text-align: left;
    max-width: 300px;
    height: auto;
}

.checkbox {
    padding-left: 40px;
    display: inline-block;
    min-height: 24px;
}

.checkbox input {
    -webkit-appearance: none;
    padding: 0;
    opacity: 0;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    position: absolute;
}

.checkmark {
    position: absolute;
    left: 0;
    width: 24px;
    height: 24px;
    border-radius: 5px;
    background: transparent;
    border: 2px solid #7D69AC;
}

.checkbox input:checked + .checkmark::after {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: #7D69AC;
    border-radius: 2px;
}

.checkbox-text {
    font-size: 14px;
    line-height: 1;
    color: #272727;
    display: inline-block;
    vertical-align: middle;
}

.rules-link {
    color: #4F378D;
}

.input-field input.error[type="checkbox"] ~ .checkbox-text {
    color: #D01319;
}

.checkbox span.error {
    top: 0;
    right: -20px;
}

.wrapper.cookies-page {
    background-position-y: 0px;
}

.cookies-block {
    padding: 190px 0 140px;
}

.cookies-block .title-wrapper {
    max-width: 820px;
    margin: auto;
}

.cookies-block .title::before,
.cookies-block .title::after {
    top: 15px;
    bottom: auto;
}

.cookies-block p {
    font-size: 21px;
    line-height: 152%;
    margin: 40px 0;
}

.main-cookie-h3 {
    font-size: 30px;
    line-height: 32px;
    margin-bottom: 20px;
}

.cookie-text-ul {
    font-size: 21px;
    line-height: 152%;
    padding-left: 50px;
    list-style: disc;
}

.cookie-text-ul li {
    color: #fff;
    margin: 20px 0;
}

.main-cookie-h2 {
    font-size: 30px;
    line-height: 32px;
    margin-bottom: 20px;
}

.new-action {
    padding-top: 5%;
}

.new-action .popup__wrap {
    background: none;
    max-width: 510px;
}

.new-action .popup__inner {
    position: relative;
    max-width: 414px;
    width: 100%;
    height: 634px;
    background: url(../img/new-popup.png) center no-repeat;
    background-size: contain;
}

.new-action .popup-btn-wrap {
    position: absolute;
    top: 540px;
    left: 0;
    right: 0;
}

@media (max-width: 1440px) {
    header,
    .main-block::before,
    .main-block::after {
        background-size: cover;
    }

    .main-coupon {
        bottom: 1%;
        right: 1%;
    }
}

@media (max-width: 1280px) {
    .container {
        max-width: 970px;
    }

    .product1-img {
        max-width: calc(247px - 15%);
    }

    .product2-img {
        max-width: calc(323px - 15%);
    }

    .product3-img {
        max-width: calc(266px - 15%);
    }

    .main-coupon {
        width: 244px;
        height: 125px;
    }

    .step {
        max-width: 310px;
        width: 100%;
    }

    .step-img {
        min-height: 160px;
    }

    .step-img1 {
        max-width: calc(256px - 15%);
    }

    .step-img2 {
        max-width: calc(168px - 15%);
    }

    .step-img3 {
        max-width: calc(163px - 15%);
    }

    .step-info {
        padding-left: 110px;
    }

    .step-info::before {
        top: -3px;
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 1000px) {
    header {
        height: 48px;
        background-size: contain;
    }

    .burger {
        position: absolute;
        top: 30px;
        right: 20px;
        width: 32px;
        height: 32px;
        background: url(../img/menu_icon.svg) center no-repeat;
        background-size: contain;
        z-index: 10;
    }

    .burger.active {
        background: url(../img/close.svg) center no-repeat;
        background-size: contain;
    }

    .menu {
        max-width: 100%;
    }

    .menu-links {
        position: absolute;
        top: -500px;
        width: 100%;
        padding: 90px 0 30px;
        flex-direction: column;
        text-align: center;
        background: rgba(79, 55, 141, 0.85);
        backdrop-filter: blur(20px);
        transition: all .3s linear;
    }

    .menu-links.active {
        top: 0;
    }

    .menu-links a,
    .menu-links a:nth-child(2),
    .menu-links a:nth-child(3) {
        margin: 0 auto 30px;
    }

    .main-block {
        min-height: 565px;
        margin-bottom: 60px;
    }

    .main-block::before {
        bottom: 0;
        height: 20px;
        background: url(../img/down1-mob.png) center repeat;
        background-size: contain;
    }

    .main-block::after {
        bottom: -23px;
        height: 40px;
        background: url(../img/down2-mob.png) center repeat;
        background-size: contain;
    }

    .left-wood {
        top: 10px;
        width: 45px;
        height: 539px;
        background: url(../img/left-mob.png) center no-repeat;
        background-size: cover;
    }

    .right-wood {
        top: 10px;
        width: 45px;
        height: 538px;
        background: url(../img/right-mob.png) center no-repeat;
        background-size: cover;
    }

    .logo {
        max-width: 150px;
    }

    .slogan {
        max-width: 256px;
        padding-top: 20px;
    }

    .products {
        flex-direction: column;
    }

    .product {
        display: flex;
        -ms-align-items: center;
        align-items: center;
        margin: 20px auto;
    }

    .mini-btn {
        display: none;
    }

    .product-img {
        min-height: auto;
    }

    .product1-img {
        max-width: 100%;
        width: 107px;
        margin-right: 25px;
    }

    .product2-img {
        max-width: 100%;
        width: 141px;
        order: 1;
    }

    .product3-img {
        max-width: 100%;
        width: 118px;
    }

    .product-info {
        height: 52px;
        width: 118px;
        margin-bottom: 0;
        font-size: 18px;
        line-height: 16px;
        text-decoration: underline;
    }

    .product-info::before,
    .product-info::after {
        width: 13px;
        height: 52px;
    }

    .main-coupon {
        bottom: 1%;
        left: 0;
        right: 0;
        margin: auto;
        width: 286px;
        height: 91px;
        background: url(../img/coupon-main-mob.png) center no-repeat;
        background-size: contain;
    }

    .where-block {
        margin-bottom: 20px;
    }

    .title {
        font-size: 21px;
        line-height: 27px;
    }

    .title::before {
        left: -20px;
        width: 14px;
        height: 15px;
    }

    .title::after {
        right: -20px;
        width: 14px;
        height: 15px;
    }

    .shops {
        flex-wrap: wrap;
        max-width: 280px;
    }

    .shop {
        max-width: 134px;
    }

    .edadil-block {
        padding: 40px 0 55px;
        background: url(../img/bg-edadil-mob.png) center repeat;
        background-size: contain;
    }

    .edadil-block .title {
        margin-bottom: 0;
    }

    .steps {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .step {
        margin: 30px auto;
    }

    .step-img {
        min-height: auto;
    }

    .step-img1 {
        max-width: 100%;
        width: 166px;
        margin-bottom: 8px;
    }

    .step-img2 {
        max-width: 100%;
        width: 123px;
        margin-bottom: 20px;
    }

    .step-img3 {
        max-width: 100%;
        width: 113px;
        margin-bottom: 25px;
    }

    .step-info {
        padding-left: 0;
        padding-top: 100px;
        text-align: center;
    }

    .step-info::before {
        top: 0;
        left: 0;
        right: 0;
        width: 80px;
        height: 80px;
        margin: auto;
    }

    .step-info-title {
        font-size: 21px;
        line-height: 27px;
    }

    .step-info-desc {
        font-size: 16px;
        line-height: 21px;
    }

    .edadil-btn {
        max-width: 200px;
    }

    .edadil-remark {
        font-size: 16px;
        max-width: 280px;
        margin: 10px auto 0;
    }

    .coupon-block .container {
        max-width: 320px;
    }

    .coupon-block {
        margin: 30px 0;
    }

    .coupon-info {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .coupon-count-block {
        flex-direction: column;
    }

    .coupons-5ka {
        margin-bottom: 30px;
    }

    .coupon-count {
        margin-bottom: 25px;
    }

    .coupon-count-text {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .number {
        width: 50px;
        height: 64px;
        font-size: 45px;
        line-height: 64px;
    }

    .coupon-btn {
        max-width: 290px;
    }

    .faq-block {
        padding: 120px 0 50px;
    }

    .decor-left {
        width: 78px;
        height: 90px;
        top: 0;
        left: 0;
    }

    .decor-right {
        width: 94px;
        height: 73px;
        bottom: 0;
        right: 0;
    }

    /*.faq-wrap {
        max-width: 288px;
    }*/

    .faq-block-title {
        font-size: 21px;
        margin-bottom: 20px;
    }

    .faq-coupon {
        margin: 60px auto;
    }

    .faq-coupon::before {
        top: -55px;
        height: 55px;
    }

    .faq-coupon::after {
        bottom: -55px;
        height: 55px;
    }

    .faq-title {
        padding-left: 25px;
        font-size: 21px;
        line-height: 24px;
    }

    .faq-title::after {
        top: 8px;
        width: 16px;
        height: 14px;
    }

    .faq-text {
        padding: 15px 0 0 20px;
        font-size: 16px;
        line-height: 18px;
    }

    .faq-text-table {
        padding-left: 0;
    }

    .faq-text table {
        font-size: 12px;
        line-height: 14px;
    }

    .faq-text table th, 
    .faq-text table td {
        padding: 5px;
    }

    .faq-text table th:nth-child(1),
    .faq-text table td:nth-child(1) {
        text-align: left;
    }

    .faq-text table th:nth-child(3),
    .faq-text table td:nth-child(3) {
        text-align: right;
    }

    footer {
        padding: 20px 0;
    }

    .footer-links a {
        display: block;
        margin: 10px;
    }

    .footer-wrapper {
        flex-direction: column;
    }

    .footer-contacts {
        margin-bottom: 30px;
    }

    .footer-socials {
        margin-bottom: 50px;
    }

    .footer-copyright {
        order: 1;
    }

    .popup-auth .popup__wrap {
        max-width: 279px;
        height: 410px;
        background: url(../img/coupon-popup-bg-height.png) center no-repeat;
        background-size: 279px 410px;
        padding: 0 20px;
    }

    .popup-auth-fio .popup__wrap {
        max-width: 279px;
        height: 315px;
        background: url(../img/coupon-popup-bg-height.png) center no-repeat;
        background-size: 279px 315px;
        padding: 0 20px;
    }

    .popup-auth-success .popup__wrap {
        height: 222px;
        background-size: 279px 222px;
    }

    .popup-coupon .popup__wrap {
        max-width: 279px;
        height: 360px;
        background-size: 279px 360px;
    }

    .popup-coupon-big .popup__wrap {
        height: 600px;
        background-size: 279px 599px;
    }

    .popup-product .popup__wrap {
        width: 279px;
        height: 295px;
        padding: 0 20px;
        background: url(../img/auth-popup-bg.png) center no-repeat;
        background-size: 279px 295px;
    }

    #product3 .popup__wrap {
        height: 314px;
        background-size: 279px 314px;
    }

    .popup__title {
        text-align: center;
        font-size: 21px;
        line-height: 24px;
    }

    .popup-auth .popup__title {
        margin-bottom: 20px;
    }

    .popup-coupon .popup__title {
        width: 126px;
        margin: 0 auto 20px;
    }

    .popup__desc {
        text-align: center;
        font-size: 16px;
        line-height: 21px;
    }

    .popup-auth-fio .popup__desc {
        margin-bottom: 15px;
    }

    .popup-coupon .popup__desc {
        max-width: 200px;
    }

    .popup-product .popup__desc br {
        display: none;
    }

    .social-auth {
        display: inline-block;
        margin: 0 5px;
        width: 44px;
    }

    .popup-product .popup__inner {
        margin-right: auto;
        margin-top: 150px;
    }

    .popup-product1-img {
        width: 183px;
        top: -200px;
        left: 0;
        right: 0;
    }

    .popup-product2-img {
        width: 226px;
        top: -150px;
        left: 0;
        right: 0;
    }

    .popup-product3-img {
        width: 195px;
        top: -170px;
        left: 0;
        right: 0;
    }

    .popup-btn {
        width: 200px;
        height: 40px;
        font-size: 16px;
        line-height: 40px;
    }

    .separate {
        font-size: 16px;
        height: 16px;
        margin: 10px 0;
    }

    .separate span {
        top: -3px;
        width: 48px;
        height: 16px;
    }

    .input-field {
        max-width: 240px;
        height: 36px;
        margin: 0 auto 10px;
    }

    .input-field input {
        max-width: 240px;
        height: 36px;
        padding: 10px 16px;
        font-size: 16px;
    }

    .input-field + .popup-btn-wrap {
        margin-top: 20px;
    }

    .popup-logo {
        margin: 0 auto 15px;
    }

    .coupon-preview-wrapper {
        max-width: 333px;
    }

    .coupon-preview-title {
        font-size: 29px;
        line-height: 37px;
        margin-bottom: 25px;
    }

    .coupon-preview-desc {
        font-size: 18px;
        line-height: 23px;
        margin: 0 auto 25px;
    }

    .coupon-preview .input-field {
        max-width: 333px;
        width: 100%;
        height: 47px;
        margin: 0 auto 15px;
    }

    .coupon-preview .input-field input {
        max-width: 333px;
        height: 47px;
        padding: 13px 26px;
        font-size: 18px;
    }

    .coupon-preview .input-field + .popup-btn-wrap {
        margin-top: 25px;
    }

    .coupon-preview .popup-btn {
        width: 240px;
        height: 60px;
        font-size: 21px;
        line-height: 60px;
    }

    .coupon-validity {
        max-width: 250px;
        margin: 15px auto 10px;
        padding: 10px 0;
    }

    .coupon-remark {
        max-width: 240px;
        line-height: 16px;
    }

    .cookies-block {
        padding: 120px 0 40px;
    }

    .cookies-block .title-wrapper {
        max-width: 300px;
    }

    .cookies-block .title {
        margin-bottom: 0;
    }

    .cookies-block .title::before, 
    .cookies-block .title::after {
        top: 0;
        bottom: 0;
    }

    .cookies-block p {
        font-size: 14px;
        margin: 20px 0;
    }

    .cookie-text-ul {
        font-size: 14px;
        padding-left: 20px;
    }

    .main-cookie-h3,
    .main-cookie-h2 {
        font-size: 21px;
        line-height: 28px;
    }
}

@media (max-width: 580px) {
    header {
        background-size: cover;
    }

    .new-action .popup__wrap {
        max-width: 320px;
    }

    .new-action .popup__inner {
        max-width: 310px;
        height: 475px;
    }

    .new-action .popup-btn-wrap {
        top: 412px;
    }

    .new-action .close-popup {
        top: 0;
        right: 0;
        z-index: 1;
    }
}

@media (max-width: 370px) {
    .edadil-block {
        background-size: 100% 1340px;
    }
}